.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
  gap: 1rem;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

  @media (max-width: $mantine-breakpoint-md) {
    flex-direction: column;
  }
}

.bottom_left {
  width: 30%;
  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.bottom_right {
  width: 70%;

  @media (max-width: $mantine-breakpoint-md) {
    width: 100%;
  }
}

.bottom_right_repo_container {
  margin-top: 2rem;
}

.bottom_right_experience_container {
  margin-top: 2rem;
}
