.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem;
}

.top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 5vh;
}

.bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.bottom_left {
  width: 30%;
  height: 100vh;
  top: 0;
  position: sticky;
  position: -webkit-sticky;
}

.bottom_right {
  width: 70%;
}

.bottom_right_repo_container {
  margin-top: 2rem;
}

.bottom_right_repo_title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.bottom_right_repo {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}
