.card {
  height: rem(300px);
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  border: rem(1px) solid
    light-dark(var(--mantine-color-gray-3), var(--mantine-color-gray-6));

  @media (max-width: $mantine-breakpoint-sm) {
    height: rem(450px);
  }

  @media (max-width: $mantine-breakpoint-md) {
    height: rem(450px);
  }
}

.left {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.left_text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.right {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right_title {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
}

.carousel_container {
  margin-top: 2rem;
}

.category {
  color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
}

.mantine-Carousel-indicator {
  background-color: white !important;
}

.description {
  margin-top: var(--mantine-spacing-lg);
}

.carousel_title {
  margin-bottom: 1rem;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
